body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(images/bckground.jpg);
    background-size: auto;
}
.title{
    padding-top: 10px;
    text-align:center;
    font-size: 36px;
   /* color: rgb(255, 255, 255); */
}

.loginform{    
    /* border: 3px solid #f1f1f1; */
    height: 500px;
    width: 450px;
    position: absolute;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%) translateY(-50%);
    background: white;
    padding: 5px 10px;
    border-radius: 25px;
    scroll-padding-bottom: 5px;
    border: 1px solid black;
    box-shadow: 0 0 8px 3 px rgb(230, 4, 4);
    color:  rgb(8, 0, 0);
    }

    .pass{
        padding: 5px 10px;
        border-radius: 4px;
    }
    
.signin-btn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;  
}

.register-btn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    
}


.register-btn:hover{
    opacity: 0.5;
    
}

.signin-btn:hover{
    opacity: 0.5;
    
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    border-radius: 5px;
  }

  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    border-radius: 5px;
  }




