body {
  font-family: 'Montserrat', sans-serif;
 
  background-size: 900px 700px;
}
table, th, tr{
  text-align: center;
}
.title2{
  text-align: center;
  color: #66afe9;
  background-color: #efefef;
  padding: 2%;
}
h2{
  text-align: center;
  color: #66afe9;
  background-color: #efefef;
  padding: 2%;
}
table th{
  background-color:  #efefef;;
}
  