body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(images/bckground.jpg);        
}

.title{
    padding-top: 1px;
    text-align:center;
    font-size: 30px;
    color: black;
}
text{
    color: black;
}

.loginform{    
    /* border: 3px solid #f1f1f1; */
    height: 730px;
    width: 450px;
    position: absolute;
    top: 75%;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%) translateY(-50%);
    background:rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 0 0 8px 3 px rgb(230, 4, 4);
    }

.register-btn{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;  
}

.register-btn:hover{
    opacity: 0.6;
}




input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    border-radius: 5px;
  }

  input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    border-radius: 5px;
  }
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    border-radius: 5px;
  }