body{
    font-family: 'Montserrat', sans-serif;
    background: white;
}
.title{
    padding-top: 1px;
    text-align:center;
    font-size: 30px;
    color: black;
}
text{
    color: black;
}

.loginform{    
    /* border: 3px solid #f1f1f1; */
    height: 680px;
    width: 450px;
    position: absolute;
    top: 75%;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%) translateY(-50%);
    background:rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border-radius: 4px;
    scroll-padding-bottom: 5px;
    border: 1px solid black;
    box-shadow: 0 0 8px 3 px rgb(230, 4, 4);
    }
    
.register-btn{
    border: none;
    outline: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    background-color: rgba(0, 0, 255, 0.733);
    color: white;
    border-radius: 4px;
    margin: 10 150;
    
}


#existingUser{
    border: none;
    width: 65px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.733);
    color: white;
    margin: 5;
}

#existingUser:hover{
    opacity: 0.5;
    background-color: rgba(0, 0, 255, 0.733)
}

.register-btn:hover{
    opacity: 0.5;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    border-radius: 5px;
  }